# {{ ansible_managed }}
[Unit]
Description=Home Assistant
After=network.target

[Service]
ExecStart={{ python }} -m hass
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
