# {{ ansible_managed }}
[Unit]
Description=PiPy Web Service

[Service]
Restart=always
User={{ pipy_user }}
ExecStart={{ python_bin }}/twist web --port le:{{ pipy_certs_dir }}:tcp:4443

[Install]
WantedBy=multi-user.target
