# {{ ansible_managed }}
[Unit]
Description=PiPy Service
After=network.target

[Service]
ExecStart={{ python }} -m twisted pi
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
